
.icon-videocam:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-bell:before { content: '\e807'; } /* '' */
.icon-folder:before { content: '\e808'; } /* '' */
.icon-folder-empty:before { content: '\e809'; } /* '' */
.icon-folder-open:before { content: '\e80a'; } /* '' */
.icon-folder-open-empty:before { content: '\e80b'; } /* '' */
.icon-rss-squared:before { content: '\e80c'; } /* '' */
.icon-wrench:before { content: '\e80d'; } /* '' */
.icon-sliders:before { content: '\e80e'; } /* '' */
.icon-lightbulb:before { content: '\e80f'; } /* '' */
.icon-down-dir:before { content: '\e810'; } /* '' */
.icon-up-dir:before { content: '\e811'; } /* '' */
.icon-left-dir:before { content: '\e812'; } /* '' */
.icon-right-dir:before { content: '\e813'; } /* '' */
.icon-ccw:before { content: '\e814'; } /* '' */
.icon-arrows-cw:before { content: '\e815'; } /* '' */
.icon-left-big:before { content: '\e816'; } /* '' */
.icon-play:before { content: '\e817'; } /* '' */
.icon-stop:before { content: '\e818'; } /* '' */
.icon-pause:before { content: '\e819'; } /* '' */
.icon-to-end-alt:before { content: '\e81a'; } /* '' */
.icon-to-start-alt:before { content: '\e81b'; } /* '' */
.icon-list:before { content: '\e81c'; } /* '' */
.icon-off:before { content: '\e81d'; } /* '' */
.icon-megaphone:before { content: '\e81e'; } /* '' */
.icon-spinner:before { content: '\e81f'; } /* '' */
.icon-volume-up:before { content: '\e820'; } /* '' */
.icon-mic:before { content: '\e821'; } /* '' */
.icon-videocam-3:before { content: '\e824'; } /* '' */